<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <!-- ng-click runs code when you click on an element (button, div, etc.). -->
  <body ng-controller="ctrl">
    <button ng-click="sayHello()">Click Me</button>
    <br />
    <div class="click" style="background-color: red" ng-click="sayHello()">
      click here bardoo
    </div>

    <p>{{message}}</p>

    <script>
      var app = angular.module("myApp", []);

      app.controller("ctrl", function ($scope) {
        $scope.sayHello = function () {
          $scope.message = "Hello Hady 👋";
        };
      });
    </script>
  </body>
</html>
